<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body class="p-4 bg-zinc-800">
    <h1 class="text-3xl text-white mb-4">All Users</h1>
    <a class="text-blue-400" href="/">Back to home</a>
    <div class="flex flex-wrap">
      <% allUsers.forEach((user)=>{ %>
      <div class="m-4 w-[16.5rem] bg-zinc-700 p-4">
        <div class="h-60 overflow-hidden rounded-xl">
          <img class="h-full w-full object-cover" src="<%= user.image %>" />
        </div>
        <h2 class="mt-2 text-2xl text-gray-300"><%= user.name %></h2>
        <h3 class="text-xl text-zinc-300"><%= user.email %></h3>
        <div class="flex mt-4 justify-between">
          <a href="/edit/<%= user._id %>" class="text-blue-300">Edit User</a>
          <a href="/delete/<%= user._id %>" class="text-red-500">Delete user</a>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
